* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Segoe UI';
}

:root {
  --white-color: #fff;
  --light-gray: #C2C2C2;

  /* green  */
  --green-main: #379237;
  --green-light: #49EE73;
  --green-dark: #0EA033;

  /* gray  */
  --gray-main: #49A451;
  --gray-light: #7AC28B;
  --gray-dark: #237421;
}

.App {
  background-color: #F6F5F4;
  font-size: 100%;
  scroll-behavior: smooth;
}
.input {
  font-size: 0.7rem;
  padding: 5px 10px;
  border: 0.1rem solid rgb(117, 201, 89);
  border-radius: 5px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  letter-spacing: 2px;
}
.FormInput{
  font-size: 0.7rem;
  padding: 5px 14px;
  border-radius: 3px;
  width: 100%;
  height: 32px;
  font-size: 14px;
  letter-spacing: 2px;
  background-color: transparent;
  border: 1px solid rgb(195, 195, 195);
  letter-spacing: 2px;
}
.FormInput:focus{ border: 1px solid #379237; }
.FormInput:hover{ border: 1px solid #379237; }

.css-wop1k0-MuiDataGrid-footerContainer {
  height: 30px;
}
.SpaceBetweenInputs{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2;
}
.headContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.form {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px auto;
}
.customBox {
  margin-right: -30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  box-shadow: 0 0 15px 2px #efefef;
  margin: auto;
  padding: 10px 30px;
  height: calc(100vh - 170px);
}
.setup_customBox {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  box-shadow: 0 0 15px 2px #efefef; 
  margin: auto;
  padding: 4px 10px 10px 40px;
  height: calc(100vh - 137px);
}
.Employee_table{
  margin: 20px;
}
.EmployeeTableBox{
  margin-right: -30px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  box-shadow: 0 0 15px 2px #efefef;
  margin: auto;
  padding: 10px 30px;
  height: calc(100vh - 120px);
}

/* Hide the default file input button */
input[type="file"]::-webkit-file-upload-button {
  position: absolute;
  left: -9999px;
}

/* Style the custom button */
input[type="file"]::before {
  content: 'Choose file'; 
  font-family: 'Segoe UI';
  padding: 0.5px 1px;
  border: 1px solid grey;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  margin-right: 10px;
}


